<!-- * * * * * CONTENT * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
    <div class="upper-data">
        <img src="../assets/summer-square.png" alt="hot" *ngIf="14 > 15" />
        <img src="../assets/winter-square.png" alt="cold" *ngIf="14 <= 15" />

        <div class="weather-data">
            <div class="location">Wellington</div>
            <div class="temperature">{{ 14.4 | number : "1.0-0" }}°C</div>
        </div>
    </div>

    <div class="lower-data">
        <div class="more-info-label">More Information</div>
        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/coldther.png" alt="min" />
                    <span>min</span>
                </div>
                <div class="info-block-value">10°C</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/hottherm.png" alt="max" />
                    <span>max</span>
                </div>
                <div class="info-block-value">30°C</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/humidity.png" alt="humidity" />
                    <span>humidity</span>
                </div>
                <div class="info-block-value">77%</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/wind.png" alt="wind" />
                    <span>wind</span>
                </div>
                <div class="info-block-value">11 km/h</div>
            </div>
        </div>
    </div>
</div>
<!-- * * * * * end of CONTENT* * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- * * * * * ROUTER  * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
<!-- * * * * * end of ROUTER * * * * * * * * * * * * * * * * * * * * * * * * * -->
